body{
  background: rgb(247, 247, 247);
}
p{
  color: rgb(134, 134, 139);
  font-family: "Open Sans";
  /*   text-align: justify;  */
}
strong{
  color: rgb(115, 115, 115);
}
h1, h2{
  font-family: "Roboto";
  letter-spacing: 1px;
  /* font-weight: bolder; */
}
a{
  text-decoration: none;
  font-family: "Open Sans";
}
ul{
  list-style: none;
}


.horiz_list{
  display: inline-flex;
  text-align: justify;
}
.social_icon{
  font-size: 40px;
  width: 100px;
  color: grey;
}
.card{
  width: 600px;
  margin: 20px auto;
  padding: 10px 20px;
  padding-bottom: 50px;
}
.card:hover{
  border-radius: 3px;
  box-shadow: 2px 10px 30px rgb(230, 230, 230);
}
.container{
  font-size: 17px;
  line-height: 25px;
  text-align: center;
  line-height: 1.6;
}
.btn{
  background-color: rgb(115, 115, 115);
  padding: 15px 20px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 4px;
  color: white;
}
.btn:hover{
  background-color: rgb(100, 100, 100);
}

#profile_img{
  width: 400px;
  height: 400px;
  border-radius: 50%;
}
#insta_hover:hover{
  color: rgb(251, 57, 88);
  font-size: 43px;
}
#linkedin_hover:hover{
  color: rgb(40,103,178);
  font-size: 43px;
}


@media (max-width: 540px) {
  .card{
    width: 400px;
  }
}
@media (max-width: 370px) {
  .card{
    width: 350px;
  }
  #profile_img{
    width: 350px;
    height: 350px;
  }
}
